header{text-align: center;
		background-color: #ccc;			
		padding: 20px;
		font-size: 20px;
		margin-bottom: 10px;
}

#section1{
	float: left;
	text-align: center;
	background-color: #666;
	width: 33%;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;

}

#section2{
	float: left;
	text-align: center;
	background-color: #888;
	width: 34%;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;

}

#section3{
	float: left;
	text-align: center;
	background-color: #666;
	width: 33%;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	
}


#eee{
	float: left;
	background-color: #eee;
	margin-top: 20px;
	width: 100%;
	padding-right: 10px;
	text-align: right;
	
}

aside{
	background-color: #fff;
	text-align:	left;
	width: 100px;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 15px;
	padding-bottom: 90px;
	float: left;
}

#blue{
	background-color: #6ea3da;
	width: 100%;
	padding-right: 10px;
	clear: right;
	margin-right: 10px;
	float: left;

}

footer{
	background-color: #ccc;
	text-align: center;
	float: left;
	width: 100%;
	margin-top: 15px;
	padding: 15px;
}




